@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #C7EFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container styles */
.container {
  width: 100%;
  height: 100%;
  padding: 20px 100px;
  position: relative;
}

.container:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

/* Registration box styles */
.registration-box {
  max-width: 850px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  background-color: #F5F5F5;
  box-shadow: 0px 0px 50px 15px rgba(0, 0, 0, 0.19);
}

/* ... */
/* Left and right panel styles */
.left {
  /* Adjust or remove the background image */
  background: url('../assets/birthday.jpg') no-repeat center;
  background-size: cover;
  border-radius: 15px 0px 0px 15px;
}
/* ... */

.right {
  padding: 25px 40px;
}

/* Heading styles */
h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

h2:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  /* Adjust the heading underline color */
  background-color: #FF69B4;
}

/* Form field styles */
.field {
  width: 100%;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: all 0.3s ease;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
  border-color: rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

/* Textarea styles */
textarea {
  min-height: 150px;
}

/* Button styles */
.btn {
  border-radius: 6px;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: skyblue;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #7968e6ca;
}

/* Responsive styles */
@media screen and (max-width: 880px) {
  .registration-box {
    grid-template-columns: 1fr;
  }

  .left {
    height: 200px;
  }
}
